p{
    color: green;
    text-align: justify;
    font-size: 20px;
}

h1{
    color: blue;
    text-align: center;
}

a{
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}

a:hover{
    background-color: yellow;
    color: black;
}
img{
    width: 200px ;
    border-radius: 10px;
}
 
h4{
    text-align: center;
}

